<% content_for :title, "New movie" %>

<h1 style="text-align: center; color: crimson; font-size: 36px; margin-bottom: 30px; text-shadow: 2px 2px 4px #aaa;">New Movie</h1>

<div style="border: 1px solid #ddd; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #f9f9f9; margin-bottom: 20px;">
  <%= render "form", movie: @movie %>
</div>

<br>

<div style="margin-top: 30px; text-align: center;">
  <!-- Back to Movies Link -->
  <%= link_to "Back to movies", movies_path(sort: params[:sort], direction: params[:direction]), style: "padding: 10px 20px; background-color: crimson; color: white; text-decoration: none; border-radius: 5px;" %>
</div>
